@model SistemaLocadora.Models.AluguelxPedidoxFuncxCliente

@{
    ViewBag.Title = "Calculo";
}

<h2>Calculo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Aluguel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2>Resumo dos pedidos</h2>

    <h4>Produtos</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Gênero")
            </th>
            <th>
                @Html.DisplayName("Classificação indicativa")
            </th>
            <th>
                @Html.DisplayName("Data de lançamento")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.produtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.classificacaoIndicativa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataLancamento)
                </td>
            </tr>
        }

    </table>
    <br />

    <h4>Cliente</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("E-mail")
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.cliente.nome)
            </td>
            <td>
                @Html.DisplayFor(model => model.cliente.email)
            </td>
        </tr>
    </table>

    <br/>

    <div class="form-group">
        @Html.LabelFor(model => model.valorTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.valorTotal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.valorTotal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.status, ViewBag.Status as SelectList,
                       "Selecione um status", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dataEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dataEntrega, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dataEntrega, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dataLimiteEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dataLimiteEntrega, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dataLimiteEntrega, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cadastrar Aluguel" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


